

//$font-family-sans-serif:      -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !default;
//$font-family-monospace:       "SFMono-Regular", Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace !default;
//$font-family-base:            $font-family-sans-serif !default;

//$font-family-base: "Avenir";
$font-family-base: "Nunito";
@import 'bootstrap';

$colorOne: blue;
$periwinkle: #BDC1E2;
$seaFoam: #96C8B7;
$bodyCopyGray: #CCCCCC;
$siteBackground: white;

//body {
//    font-family: "Times New Roman";
//}

.badgeImage {
}

.socialMediaImage {
}

.border-periwinkle {
  border-color: $periwinkle !important;
}

#somethingElse {
    color: $periwinkle;
}

#siteHeader
{
    //color: $seaFoam;
    //color: $bodyCopyGray;
    //background-color: $periwinkle;
    background-color: $siteBackground;
    h1 {
        font-family: "Open Sans Condensed";
        color: $seaFoam;
    }

    h4 {
        color: gray;
    }
}

#siteNav 
{
}

#homeBadges
{
}

//TODO: Consider pulling site bakcground-color higher
//TODO: Break into multiple style sheets/per page

//@include media-breakpoint-up(md)
//{
//    h1
//    {
//        color: green;
//    }
//}

//sass -I ./node_modules/bootstrap/scss --watch css/styles.scss