
        <div class="container-fluid" id="seaFoamFooter">
            <!--social media badges-->
            <div class="container">
                <div class="row pt-5 pb-5 justify-content-center">
                    <div class="col-md-2 col-3">
                        <div class="row justify-content-center">
                            <div class="col-10">
                                <a target="blank" href="https://instagram.com/theresaburdenbeauty/">
                                    <img class="img-fluid socialMediaImage" src="img/Icons/instagram-cropped.png" alt="instagram link icon">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2 col-3">
                        <div class="row justify-content-center">
                            <div class="col-10">
                                <a target="blank" href="http://www.facebook.com/theresaburdenbeauty">
                                    <img class="img-fluid socialMediaImage" src="img/Icons/facebook-cropped.png" alt="facebook link icon">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2 col-3">
                        <div class="row justify-content-center">
                            <div class="col-10">
                                <a target="blank" href="https://plus.google.com/u/0/113612275164670243486">
                                    <img class="img-fluid socialMediaImage" src="img/Icons/gplus-cropped.png" alt="google plus link icon">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2 col-3">
                        <div class="row justify-content-center">
                            <div class="col-10">
                                <a target="blank" href="https://www.pinterest.com/theresaburdenbeauty/">
                                    <img class="img-fluid socialMediaImage" src="img/Icons/pinterest-cropped.png" alt="pinterest link icon">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!--copyright -->
        </div>
            <div class="mt-5 container text-center">
                <p>© Theresa Burden 2018</p>
        </div>
        
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
    </body>
</html>