{{> header }}

        <div class="container mb-5 text-center pageHeader">
            <h2>COMMUNITY</h2>
        </div>

        <div class="container text-center" id="communityPlaceHolder">
            <h4>Coming Soon!</h4>
        </div>

{{> footer }}